.App {
  text-align: center;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin-top: -85px;
}

.Login-header {
    font-size: 48px;
    margin-bottom: 50px;
}

.Login-small-text {
    font-size: 12px;
    margin-top: 0px;
}

.CreateOrJoinHeader {
    font-size: 36px;
    margin-bottom: 50px;
}
